<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>COMAPNY</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="./styles.css" />
  <link rel="stylesheet" href="./cards.css" />
  <link rel="stylesheet" href="./css/modal.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script async src="https://www.anglomaniacy.pl/js/jquery-1.9.1.min.js"></script>
  <script async src="https://www.anglomaniacy.pl/js/jquery-ui.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.min.js"></script>


  <script>

    function createGame(gameName = 'create-game') {
      window.location.href = 'http://localhost:5000/' + gameName;
    }
  </script>

</head>

<body>

  <!-- template for the modal component -->
  <script type="text/x-template" id="modal-template">
            <transition name="modal">
              <div class="modal-mask">
                <div class="modal-wrapper">
                  <div class="modal-container">
      
                    <div class="modal-header">
                      <slot name="header">
                        default header
                      </slot>
                    </div>
      
                    <div class="modal-body">
                      <slot name="body">
                        default body
                      </slot>
                    </div>
      
                    <!-- <div class="modal-footer">
                      <slot name="footer">
                        <button class="modal-default-button" @click="$emit('close')">
                          Close
                        </button>
                      </slot>
                    </div> -->
                  </div>
                </div>
              </div>
            </transition>
          </script>


  <div class="container">
       <header class="header">
      <div class="logo-container">
        <img src="./img/doge.png" alt="doge logo" class="logo-img" />
        <h1 class="logo-text">
          School <span class="logo-highlight"> Name</span>
        </h1>
      </div>
      <img style="height:78px; position:absolute; left:42%" src="./images/kids-together.png"/>

      <div class="search start-video">
        
        <button onclick="goToVideoPage()" type="submit"><i class="fa fa-video-camera"></i> Start Video</button>
        <img class="notification-icon" src="./images/notification-icon-with-number.png"/>
      </div>
      <script>
        function goToVideoPage() {
          window.location.href = 'http://localhost:5000';
        }
      </script>
    </header>
      <!-- start of filter HTML -->
    <div class="cd-filter">
        <form>

            <div class="cd-filter-block">
                <h4>Choose a School</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter="" type="radio" name="radioButton" id="radio1"
                            checked>
                        <label class="radio-label" for="radio1">All</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio2" type="radio" name="radioButton" id="radio2">
                        <label class="radio-label" for="radio2">Future School</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".radio3" type="radio" name="radioButton" id="radio3">
                        <label class="radio-label" for="radio3">ESchool.com</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".radio4" type="radio" name="radioButton" id="radio4"
                            disabled>
                        <label class="radio-label" for="radio4">Summer School</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Filter Results</h4>

                <div class="cd-filter-content">
                    <input type="search" placeholder="Search Amazon.com">
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Categories</h4>

                <ul class="cd-filter-content cd-filters list">
                    <li>
                        <input class="filter" data-filter=".check1" type="checkbox" id="checkbox1">
                        <label class="checkbox-label" for="checkbox1">Math</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check2" type="checkbox" id="checkbox2">
                        <label class="checkbox-label" for="checkbox2">Science</label>
                    </li>

                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Arabic</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">English</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Islam</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Computer</label>
                    </li>
                    <li>
                        <input class="filter" data-filter=".check3" type="checkbox" id="checkbox3">
                        <label class="checkbox-label" for="checkbox3">Fun Activities</label>
                    </li>
                </ul> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->

            <div class="cd-filter-block">
                <h4>Teacher</h4>

                <div class="cd-filter-content">
                    <div class="cd-select cd-filters">
                        <select class="filter" name="selectThis" id="selectThis">
                            <option value="">Select a Teacher</option>
                            <option value=".option1">USD</option>
                            <option value=".option2">BRL</option>
                            <option value=".option3">EUR</option>
                            <option value=".option4">GBP</option>
                        </select>
                    </div> <!-- cd-select -->
                </div> <!-- cd-filter-content -->
            </div> <!-- cd-filter-block -->


        </form>

        <a href="#0" class="cd-close"><i class="fa fa-times" aria-hidden="true"></i></a>
    </div> <!-- cd-filter -->

    <!-- <a href="#0" class="cd-filter-trigger" style="position: absolute; z-index:1;color: #9a9a9a; text-indent: 0; background-position: left center;padding-left: 24px;  left: 40px;    text-transform: uppercase; width:auto">Filters</a> -->
    <a href="#0" class="cd-filter-trigger" style="top: 115px; z-index:1;color: #9a9a9a; text-indent: 0; background-position: left center; padding-left: 24px;left: 44px;text-transform: uppercase; width:auto">Filters</a>

        <div class="search" style="margin-top:40px;">

            <form onsubmit="search(event)">
              <input autofocus id="searchInput" type="text" placeholder="Search...">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
  <!-- end of filter HTML -->

    <div class="content-container" id="app">
      <section id="myOwnGame">
        <h1 class="title">Your Games</h1>
        <div class="container">
          <card
            data-image="./images/math.png">
            <h1 slot="header">Let's do Calculations</h1>
            <div slot="actions" class="actions">
              <p slot="content" id="show-modal" @click="showModal = true"><i class="fa fa-eye" aria-hidden="true"></i>
              </p>
              <!-- <p onclick="createGame()" slot="content"><i class="fa fa-plus" aria-hidden="true"></i> </p> -->
            </div>
          </card>
          <card
          data-image="./images/puzzle.jpeg">
          <h1 slot="header">My Puzzle</h1>
            <div slot="actions" class="actions">
              <p slot="content" id="show-modal" @click="showModal = true"><i class="fa fa-eye" aria-hidden="true"></i>
              </p>
              <!-- <p onclick="createGame()"  slot="content"><i class="fa fa-plus" aria-hidden="true"></i> </p> -->
            </div>
          </card>

        </div>
      </section>
      <h1 class="title">Create Games from Templates</h1>
      <div class="container">
        
        <modal v-if="showMatchingModal" @close="showMatchingModal = false">
          <!--
                      you can use custom content here to overwrite
                      default content
                    -->
          <h3 slot="header" class="modal-header">
            <span style="margin: 0 auto">Match Things</span>
            <div @click="showMatchingModal = false" class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
          </h3>
          <section slot="body">
            <img src="./images/matching.png" />
          </section>
        </modal>     
        <modal v-if="showMathModal" @close="showMathModal = false">
          <!--
                      you can use custom content here to overwrite
                      default content
                    -->
          <h3 slot="header" class="modal-header">
            <span style="margin: 0 auto">         Let's do Calculations!</span>

            <div @click="showMathModal = false" class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
          </h3>
          <section slot="body">
            <img src="./images/math-game.png" />
          </section>
        </modal>        
        <modal v-if="showPuzzleModal" @close="showPuzzleModal = false">
          <!--
                      you can use custom content here to overwrite
                      default content
                    -->
          <h3 slot="header" class="modal-header"> 
            <span style="margin: 0 auto"> My Puzzle </span>
            <div @click="showPuzzleModal = false" class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
          </h3>
          <section slot="body">
            <iframe height="547px" width="100%" src="http://localhost:5000/puzzle"></iframe>
          </section>
        </modal>
        <modal v-if="showModal" @close="showModal = false">
          <!--
                      you can use custom content here to overwrite
                      default content
                    -->
          <h3 slot="header" class="modal-header">
            <span style="margin: 0 auto"> Multiple Choice </span>

            <div @click="showModal = false" class="close"><i class="fa fa-times" aria-hidden="true"></i></div>
          </h3>
          <section slot="body">
            <iframe height="547px" width="100%" src="http://localhost:5000/quiz"></iframe>
          </section>
        </modal>
        <card
          data-image="./images/math.png">
          <h1 slot="header">Let's do Calculations</h1>
          <div slot="actions" class="actions">
            <p slot="content" id="show-modal" @click="showMathModal = true"><i class="fa fa-eye" aria-hidden="true"></i>
            </p>
            <p onclick="createGame()" slot="content"><i class="fa fa-plus" aria-hidden="true"></i> </p>
          </div>
        </card>
        <card
        data-image="./images/puzzle.jpeg">
        <h1 slot="header">My Puzzle</h1>
          <div slot="actions" class="actions">
            <p slot="content" id="show-modal" @click="showPuzzleModal = true"><i class="fa fa-eye" aria-hidden="true"></i>
            </p>
            <p onclick="createGame('create-game-puzzle')" slot="content"><i class="fa fa-plus" aria-hidden="true"></i> </p>
          </div>
        </card>
        <card
          data-image="./images/matching-template-2.jpg">
          <h1 slot="header">Matching Game</h1>
          <div slot="actions" class="actions">
            <p slot="content" id="show-modal" @click="showMatchingModal = true"><i class="fa fa-eye" aria-hidden="true"></i>
            </p>
            <p onclick="createGame()" slot="content"><i class="fa fa-plus" aria-hidden="true"></i> </p>
          </div>
        </card>
        <card
          data-image="./images/multiple-choice.jpg">
          <h1 slot="header">Multiple Choice</h1>
          <div slot="actions" class="actions">
            <p slot="content" id="show-modal" @click="showModal = true"><i class="fa fa-eye" aria-hidden="true"></i>
            </p>
            <p onclick="createGame()" slot="content"><i class="fa fa-plus" aria-hidden="true"></i> </p>
          </div>
        </card>
        <script src="js/cards.js"></script>

      </div>


    </div>
  </div>

  <script>
        window.addEventListener('load', function () {
    gameSaved = localStorage.getItem('GameSaved');
    if (gameSaved) {
      console.log('game saved');
      $('#myOwnGame').show();
    } else {
      $('#myOwnGame').hide();
    }
  });
  </script>

  <!-- start of filter logic -->
  <script
    src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
<script src='https://cdn.jsdelivr.net/jquery.mixitup/2.1.11/jquery.mixitup.min.js'></script>
<script>jQuery(document).ready(function ($) {
        //open/close lateral filter
        $('.cd-filter-trigger').on('click', function () {
            triggerFilter(true);
        });
        $('.cd-filter .cd-close').on('click', function () {
            triggerFilter(false);
        });

        function triggerFilter($bool) {
            var elementsToTrigger = $([$('.cd-filter-trigger'), $('.cd-filter'), $('.cd-tab-filter'), $('.cd-gallery')]);
            elementsToTrigger.each(function () {
                $(this).toggleClass('filter-is-visible', $bool);
            });
        }

        //mobile version - detect click event on filters tab
        var filter_tab_placeholder = $('.cd-tab-filter .placeholder a'),
            filter_tab_placeholder_default_value = 'Select',
            filter_tab_placeholder_text = filter_tab_placeholder.text();

        $('.cd-tab-filter li').on('click', function (event) {
            //detect which tab filter item was selected
            var selected_filter = $(event.target).data('type');

            //check if user has clicked the placeholder item
            if ($(event.target).is(filter_tab_placeholder)) {
                (filter_tab_placeholder_default_value == filter_tab_placeholder.text()) ? filter_tab_placeholder.text(filter_tab_placeholder_text) : filter_tab_placeholder.text(filter_tab_placeholder_default_value);
                $('.cd-tab-filter').toggleClass('is-open');

                //check if user has clicked a filter already selected 
            } else if (filter_tab_placeholder.data('type') == selected_filter) {
                filter_tab_placeholder.text($(event.target).text());
                $('.cd-tab-filter').removeClass('is-open');

            } else {
                //close the dropdown and change placeholder text/data-type value
                $('.cd-tab-filter').removeClass('is-open');
                filter_tab_placeholder.text($(event.target).text()).data('type', selected_filter);
                filter_tab_placeholder_text = $(event.target).text();

                //add class selected to the selected filter item
                $('.cd-tab-filter .selected').removeClass('selected');
                $(event.target).addClass('selected');
            }
        });

        //close filter dropdown inside lateral .cd-filter 
        $('.cd-filter-block h4').on('click', function () {
            $(this).toggleClass('closed').siblings('.cd-filter-content').slideToggle(300);
        })

        //fix lateral filter and gallery on scrolling
        $(window).on('scroll', function () {
            (!window.requestAnimationFrame) ? fixGallery() : window.requestAnimationFrame(fixGallery);
        });

        function fixGallery() {
            var offsetTop = $('.cd-main-content').offset().top,
                scrollTop = $(window).scrollTop();
            (scrollTop >= offsetTop) ? $('.cd-main-content').addClass('is-fixed') : $('.cd-main-content').removeClass('is-fixed');
        }

        /************************************
            MitItUp filter settings
            More details: 
            https://mixitup.kunkalabs.com/
            or:
            https://codepen.io/patrickkunka/
        *************************************/

        buttonFilter.init();
        $('.cd-gallery ul').mixItUp({
            controls: {
                enable: false
            },
            callbacks: {
                onMixStart: function () {
                    $('.cd-fail-message').fadeOut(200);
                },
                onMixFail: function () {
                    $('.cd-fail-message').fadeIn(200);
                }
            }
        });

        //search filtering
        //credits https://codepen.io/edprats/pen/pzAdg
        var inputText;
        var $matching = $();

        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        $(".cd-filter-content input[type='search']").keyup(function () {
            // Delay function invoked to make sure user stopped typing
            delay(function () {
                inputText = $(".cd-filter-content input[type='search']").val().toLowerCase();
                // Check to see if input field is empty
                if ((inputText.length) > 0) {
                    $('.mix').each(function () {
                        var $this = $(this);

                        // add item to be filtered out if input text matches items inside the title   
                        if ($this.attr('class').toLowerCase().match(inputText)) {
                            $matching = $matching.add(this);
                        } else {
                            // removes any previously matched item
                            $matching = $matching.not(this);
                        }
                    });
                    $('.cd-gallery ul').mixItUp('filter', $matching);
                } else {
                    // resets the filter to show all item if input is empty
                    $('.cd-gallery ul').mixItUp('filter', 'all');
                }
            }, 200);
        });
    });

    /*****************************************************
        MixItUp - Define a single object literal 
        to contain all filter custom functionality
    *****************************************************/
    var buttonFilter = {
        // Declare any variables we will need as properties of the object
        $filters: null,
        groups: [],
        outputArray: [],
        outputString: '',

        // The "init" method will run on document ready and cache any jQuery objects we will need.
        init: function () {
            var self = this; // As a best practice, in each method we will asign "this" to the variable "self" so that it remains scope-agnostic. We will use it to refer to the parent "buttonFilter" object so that we can share methods and properties between all parts of the object.

            self.$filters = $('.cd-main-content');
            self.$container = $('.cd-gallery ul');

            self.$filters.find('.cd-filters').each(function () {
                var $this = $(this);

                self.groups.push({
                    $inputs: $this.find('.filter'),
                    active: '',
                    tracker: false
                });
            });

            self.bindHandlers();
        },

        // The "bindHandlers" method will listen for whenever a button is clicked. 
        bindHandlers: function () {
            var self = this;

            self.$filters.on('click', 'a', function (e) {
                self.parseFilters();
            });
            self.$filters.on('change', function () {
                self.parseFilters();
            });
        },

        parseFilters: function () {
            var self = this;

            // loop through each filter group and grap the active filter from each one.
            for (var i = 0, group; group = self.groups[i]; i++) {
                group.active = [];
                group.$inputs.each(function () {
                    var $this = $(this);
                    if ($this.is('input[type="radio"]') || $this.is('input[type="checkbox"]')) {
                        if ($this.is(':checked')) {
                            group.active.push($this.attr('data-filter'));
                        }
                    } else if ($this.is('select')) {
                        group.active.push($this.val());
                    } else if ($this.find('.selected').length > 0) {
                        group.active.push($this.attr('data-filter'));
                    }
                });
            }
            self.concatenate();
        },

        concatenate: function () {
            var self = this;

            self.outputString = ''; // Reset output string

            for (var i = 0, group; group = self.groups[i]; i++) {
                self.outputString += group.active;
            }

            // If the output string is empty, show all rather than none:    
            !self.outputString.length && (self.outputString = 'all');

            // Send the output string to MixItUp via the 'filter' method:    
            if (self.$container.mixItUp('isLoaded')) {
                self.$container.mixItUp('filter', self.outputString);
            }
        }
    };
  //# sourceURL=pen.js
</script>


</body>

</html>